<table th:unless="${#lists.isEmpty(invoices)}">
    <tr>
        <th>N°</th><th>Prénoms</th><th>Noms</th><th>Date facture</th>
        <th>Addresse</th><th>Téléphone</th><th>Email</th><th>Total</th>
        <th colspan="3">Actions</th>
    </tr>
    <tr th:each="row, rowStat : ${invoices}">
        <td th:text="*{rowStat.count}">count</td>
        <td th:text="*{row.customer.firstName}">firstName</td>
        <td th:text="*{row.customer.lastName}">lastName</td>
        <td th:text="*{row.invoiceDate}">invoiceDate</td>
        <td th:text="*{row.address.adresse}">address.adresse</td>
        <td th:text="*{row.address.phone}">address.phone</td>
        <td th:text="*{row.address.email}">address.email</td>
        <td th:text="*{row.total}">total</td>
        <td><a th:href="@{~/web/v1.0/invoice/get/{id}(id=${row.invoiceId})}">View</a></td>
        <td><a th:href="@{~/web/v1.0/invoice/update/{id}(id=${row.invoiceId})}">Update</a></td>
        <td><a th:href="@{~/web/v1.0/invoice/delete/{id}(id=${row.invoiceId})}">Delete</a></td>
    </tr>
</table>
<a th:href="@{~/web/v1.0/invoice/add}">Add an invoice</a>