<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <div class="container">

            <div class="row">
                <div class="col-sm">
                    --
                </div>
                <div id="profil" class="col-sm">
                    Profil
                </div>
                <div id="deconnexion" class="col-sm">Déconnexion</div>
            </div>

            <div id="corps" class="row">
                <div id="menu" class="col-2">
                    <div class="col-12">Client</div>
                    <div class="col-12">Facture</div>
                    <div class="col-12">Album</div>
                    <div class="col-12">Artiste</div>
                    <div class="col-12">Playlist</div>
                    <div class="col-12">Morceau</div>
                    <div class="col-12">Type de média</div>
                    <div class="col-12">Genre</div>
                    <div class="col-12">Employé</div>
                </div>
                <div id="details" class="col col-10">
                    <div id="formulaire" class="col-sm">
                        <form>
                            Id : <input type="text" name="champ1"/>
                            Nom : <input type="text" name="champ1"/>
                        </form>
                    </div>
                    <div id="elements" class="col-sm">
                        <table>
                            <tr>
                                <td></td>
                                <td>Nom</td>
                                <td>Prénoms</td>
                                <td>Entreprise</td>
                                <td>Actions</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div id="pied" class="col">
                <div class="row justify-content-center">
                    <div class="col-sm">
                        Nous
                    </div>
                    <div class="col-sm">
                        Nos partenaires
                    </div>
                    <div class="col-sm">
                        Nos références
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </div>

    </body>
</html>
