
<a th:href="@{~/web/v1.0/album/all}">Album</a><br/>
<a th:href="@{~/web/v1.0/artist/all}">Artist</a><br/>
<a th:href="@{~/web/v1.0/customer/all}">Customer</a><br/>
<a th:href="@{~/web/v1.0/employee/all}">Employee</a><br/>
<a th:href="@{~/web/v1.0/genre/all}">Genre</a><br/>
<a th:href="@{~/web/v1.0/invoice/all}">Invoice</a><br/>
<a th:href="@{~/web/v1.0/mediatype/all}">Media type</a><br/>
<a th:href="@{~/web/v1.0/playlist/all}">Playlist</a><br/>
<a th:href="@{~/web/v1.0/privilege/all}">Privilege</a><br/>
<a th:href="@{~/web/v1.0/role/all}">Role</a><br/>
<a th:href="@{~/web/v1.0/track/all}">Track</a><br/>
<a th:href="@{~/web/v1.0/user/all}">User</a><br/>
