<form action="#" th:action="@{~/web/v1.0/album/add}" th:object="${album}" method="post">
    <label for="album">Titre</label>
    <input type="hidden" th:field="*{albumId}"/>
    <input type="text" th:field="*{title}" id="album" placeholder="Titre">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    <br/>
    <label for="artist">Artist</label>
    <select th:field="*{artist}" id="artist">
        <option th:each="artist : ${allArtists}"
                th:value="${artist.artistId}"
                th:text="${artist.name}">Artist</option>
    </select>
    <span th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></span>
    <br/>
    <input type="submit" value="Add album">
</form>